@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../fonts/poppins/style.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply font-Poppins;
}

html {
  scroll-behavior: smooth;
}
