@font-face {
  src: url("./Poppins-Regular.ttf");
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url("./Poppins-Medium.ttf");
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}
@font-face {
  src: url("./Poppins-MediumItalic.ttf");
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
}
@font-face {
  src: url("./Poppins-SemiBold.ttf");
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
}
@font-face {
  src: url("./Poppins-SemiBoldItalic.ttf");
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
}
@font-face {
  src: url("./Poppins-Bold.ttf");
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
}
@font-face {
  src: url("./Poppins-BoldItalic.ttf");
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
}
